<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Navigation</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="pcoded-hasmenu active pcoded-trigger">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Dashboard</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class="">
                        <a href="index.html">
                            <span class="pcoded-mtext">Info</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="pcoded-navigatio-lavel">Create</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Projects</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class="">
                        <a href="addnewp.html">
                            <span class="pcoded-mtext">New Project</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="sentitemp.html">
                            <span class="pcoded-mtext">Sent Items</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="printstatus.html">
                            <span class="pcoded-mtext">Print Status</span>
                            <span class="pcoded-badge label label-info ">NEW</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>


        <ul class="pcoded-item pcoded-left-item">
            <li class="pcoded-hasmenu">


                <div class="pcoded-navigatio-lavel">App</div>
            <li class=" ">
                <a href="sticky.html">
                    <span class="pcoded-micon"><i class="feather icon-cpu"></i></span>
                    <span class="pcoded-mtext">Sticky Notes</span>
                    <span class="pcoded-badge label label-danger">HOT</span>
                </a>
            </li>

        </ul>
        <ul class="pcoded-item pcoded-left-item">

            <li class="pcoded-hasmenu ">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-check-circle"></i></span>
                    <span class="pcoded-mtext">Task</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class="">
                        <a href="task-list.html">
                            <span class="pcoded-mtext">Task List</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="task-board.html">
                            <span class="pcoded-mtext">Task Board</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="task-detail.html">
                            <span class="pcoded-mtext">Task Detail</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="issue-list.html">
                            <span class="pcoded-mtext">Issue List</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="pcoded-hasmenu ">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-bookmark"></i></span>
                    <span class="pcoded-mtext">To-Do</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class="">
                        <a href="todo.html">
                            <span class="pcoded-mtext">To-Do</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="notes.html">
                            <span class="pcoded-mtext">Notes</span>
                        </a>
                    </li>
                </ul>
            </li>


        </ul>

    </div>
</nav>