<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DD</title>
    <link rel="icon" href="https://colorlib.com//polygon/adminty/files/assets/images/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/files/bower_components/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/files/bower_components/sweetalert/css/sweetalert.css">

    <link rel="stylesheet" type="text/css" href="/files/assets/icon/themify-icons/themify-icons.css">

    <link rel="stylesheet" type="text/css" href="/files/assets/icon/icofont/css/icofont.css">

    <link rel="stylesheet" type="text/css" href="/files/assets/icon/feather/css/feather.css">

    <link rel="stylesheet" type="text/css" href="/files/assets/css/component.css">

    <link rel="stylesheet" type="text/css" href="/files/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/files/assets/css/jquery.mCustomScrollbar.css">
</head>
<style>
  .time {
   color: #000;
   padding: 2px;
   text-align: center;
   width: 300px;
  }
  .hms {
   font-size: 40pt;
   font-weight: 200;
  }
  .ampm {
   font-size: 12pt;
  }
  .date {
   font-size: 14pt;
  }
 </style>
<body class="hold-transition sidebar-mini layout-fixed">
    {{{body}}}
    <!-- jQuery -->
    <script>
 window.console = window.console || function(t) {};
</script>
<script>
 if (document.location.search.match(/type=embed/gi)) {
  window.parent.postMessage("resize", "*");
 }
</script>
<script id="rendered-js"> // Date And Time
function updateTime() {
 var dateInfo = new Date();

 /* time */
 var hr,
         _min = dateInfo.getMinutes() < 10 ? "0" + dateInfo.getMinutes() : dateInfo.getMinutes(),
         sec = dateInfo.getSeconds() < 10 ? "0" + dateInfo.getSeconds() : dateInfo.getSeconds(),
         ampm = dateInfo.getHours() >= 12 ? "PM" : "AM";

 // replace 0 with 12 at midnight, subtract 12 from hour if 13–23
 if (dateInfo.getHours() == 0) {
  hr = 12;
 } else if (dateInfo.getHours() > 12) {
  hr = dateInfo.getHours() - 12;
 } else {
  hr = dateInfo.getHours();
 }

 var currentTime = hr + ":" + _min + ":" + sec;

 // print time
 document.getElementsByClassName("hms")[0].innerHTML = currentTime;
 document.getElementsByClassName("ampm")[0].innerHTML = ampm;

 /* date */
 var dow = [
          "Sunday",
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday"],

         month = [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
          "September",
          "October",
          "November",
          "December"],

         day = dateInfo.getDate();

 // store date
 var currentDate = dow[dateInfo.getDay()] + ", " + month[dateInfo.getMonth()] + " " + day;

 document.getElementsByClassName("date")[0].innerHTML = currentDate;
};

// print time and date once, then update them every second
updateTime();
setInterval(function () {
 updateTime();
}, 1000);
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{{!-- <script type="58cb2ea08ff8e7e220e8c992-text/javascript" src="/files/bower_components/jquery/js/jquery.min.js"></script> --}}
<script type="58cb2ea08ff8e7e220e8c992-text/javascript" src="/files/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
<script type="58cb2ea08ff8e7e220e8c992-text/javascript" src="/files/bower_components/popper.js/js/popper.min.js"></script>
<script type="58cb2ea08ff8e7e220e8c992-text/javascript" src="/files/bower_components/bootstrap/js/bootstrap.min.js"></script>

<script type="58cb2ea08ff8e7e220e8c992-text/javascript" src="/files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>

<script type="58cb2ea08ff8e7e220e8c992-text/javascript" src="/files/bower_components/modernizr/js/modernizr.js"></script>
<script type="58cb2ea08ff8e7e220e8c992-text/javascript" src="/files/bower_components/modernizr/js/css-scrollbars.js"></script>

<script type="58cb2ea08ff8e7e220e8c992-text/javascript" src="/files/bower_components/sweetalert/js/sweetalert.min.js"></script>
<script type="58cb2ea08ff8e7e220e8c992-text/javascript" src="/files/assets/js/modal.js"></script>


<script type="58cb2ea08ff8e7e220e8c992-text/javascript" src="/files/assets/js/modalEffects.js"></script>
<script type="58cb2ea08ff8e7e220e8c992-text/javascript" src="/files/assets/js/classie.js"></script>


<script type="58cb2ea08ff8e7e220e8c992-text/javascript" src="/files/assets/js/script.js"></script>

<script type="58cb2ea08ff8e7e220e8c992-text/javascript" src="/files/bower_components/i18next/js/i18next.min.js"></script>
<script type="58cb2ea08ff8e7e220e8c992-text/javascript" src="/files/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
<script type="58cb2ea08ff8e7e220e8c992-text/javascript" src="/files/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
<script type="58cb2ea08ff8e7e220e8c992-text/javascript" src="/files/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
<script src="/files/assets/js/pcoded.min.js" type="58cb2ea08ff8e7e220e8c992-text/javascript"></script>
<script src="/files/assets/js/vartical-layout.min.js" type="58cb2ea08ff8e7e220e8c992-text/javascript"></script>
<script src="/files/assets/js/jquery.mCustomScrollbar.concat.min.js" type="58cb2ea08ff8e7e220e8c992-text/javascript"></script>
<script src="/files/assets/js/czmore/index.js"></script>
<script src="/files/index.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="58cb2ea08ff8e7e220e8c992-text/javascript"></script>
<script type="58cb2ea08ff8e7e220e8c992-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script src="/ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="58cb2ea08ff8e7e220e8c992-|49" defer=""></script>
</body>

</html>