{{> header}} {{> sidebar}}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>{{type}}</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form method="POST" action="/add-years">
                            <div class="form-group" id="dynamic_form">
                                <div class="row">
                                    <div class="col-md-3">
                                        <input type="number" name="year_name[]" id="p_name" placeholder="Enter Year"
                                            class="form-control" min="4" required>
                                    </div>
                                    <div class="button-group">
                                        <a href="javascript:void(0)" class="btn btn-primary" id="plus5">Add More</a>
                                        <a href="javascript:void(0)" class="btn btn-danger" id="minus5">Remove</a>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{{> footer}}
