{{> header}} {{> sidebar}}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>{{type}}</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form method="POST" action="/update-years">
                            <input type="hidden" value="{{year._id}}" name="uid" />
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <input type="number" name="year_name" id="year_name" placeholder="Enter Year"
                                            class="form-control" min="4"  value="{{year.year_name}}" required>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{{> footer}}
