{{> header}} {{> sidebar}}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Year Management</h1>
                </div>
                <div class="col-sm-2" style="text-align: right;"></div>
                <div class="col-sm-2" style="text-align: right;">
                    <a class="btn btn-block btn-outline-info" href="/add-years" style="width: 100%;">Add Years</a>
                </div>
                {{!-- <div class="col-sm-2" style="text-align: right;">
                    <a class="btn btn-block btn-outline-danger multipleDelete" href="" style="width: 100%;">Multiple Delete</a>
                </div> --}}
                <div class="col-sm-2" style="text-align: right;">
                    <a class="importJsonYear btn btn-block btn-success"
                        style="cursor: pointer;width: 100%;color: #fff;">Bulk Import</a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="yearDataTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    {{!-- <th>&nbsp;</th> --}}
                                    <th>Year</th>
                                    <th>Created At</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#if years}}
                                {{#each years}}
                                <tr>
                                    {{!-- <td>
                                        <div class="form-check">
                                            <input type="checkbox" uid="{{_id}}" class="form-check-input multiYear">
                                        </div>
                                    </td> --}}
                                    <td>{{year_name}}</td>
                                    <td>{{#createdAt createdAt}}{{/createdAt}}</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-3">
                                                <a href="/year/edit/{{_id}}"
                                                    class="btn btn-block bg-gradient-secondary">EDIT</a>
                                            </div>
                                            <div class="col-3">
                                                <a style="cursor: pointer;color: #fff;" uid="{{_id}}"
                                                    class="btn btn-block bg-gradient-danger deleteYear">DELETE</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                                {{/if}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{{> footer}}