<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        {{> header_designer}}
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                {{> sidebar_designer}}
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div class="card-block">
                                                    <h4 class="sub-title">New Project</h4>
                                                    <form method="POST" action="/add-projects">
                                                        <div class="form-group row" >
                                                            <div class="col-sm-2">
                                                                <input type="text" name="billNumber" class="form-control"
                                                                    value="Bill No: {{bill}}" disabled>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <input type="text" name="projectName" class="form-control"
                                                                    placeholder="Project Name">
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <input type="number" name="phone" class="form-control"
                                                                    placeholder="Mobile No:">
                                                            </div>
                                                            <div class="col-sm-12 col-xl-3">
                                                                <select name="select"
                                                                    class="form-control form-control-inverse">
                                                                    <option value="" selected disabled>Select User Type</option>
                                                                    <option value="Agencies">Agencies</option>
                                                                    <option value="Regular Customers">Regular Customers</option>
                                                                    <option value="New Customer">New Customer</option>
                                                                </select>
                                                            </div>

                                                            <div class="col-sm-2 m-t-25">
                                                                <input type="text" name="height" class="form-control"
                                                                    placeholder="Height">
                                                            </div>
                                                            <label class="col-form-label m-t-25">X</label>
                                                            <div class="col-sm-2 m-t-25">
                                                                <input type="text" name="width" class="form-control"
                                                                    placeholder="Width">
                                                            </div>
                                                            <div class="col-sm-12 col-xl-2 m-t-25">
                                                                <select name="materials"
                                                                    class="form-control form-control-inverse">
                                                                    <option selected disabled>Select Meterials</option>
                                                                    <option value="Type 2">Type 2</option>
                                                                    <option value="Type 3">Type 3</option>
                                                                    <option value="Type 4">Type 4</option>
                                                                    <option value="Type 5">Type 5</option>
                                                                    <option value="Type 6">Type 6</option>
                                                                    <option value="Type 7">Type 7</option>
                                                                    <option value="Type 8">Type 8</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-2 m-t-25">
                                                                <input type="text" name="quantity" class="form-control"
                                                                    placeholder="Quantity">
                                                            </div>
                                                            <div class="col-sm-12 col-xl-3 m-t-25">
                                                                <select name="time"
                                                                    class="form-control form-control-inverse">
                                                                    <option selected disabled>Ext Design Time</option>
                                                                    <option value="1">1 hour</option>
                                                                    <option value="2">2 hour</option>
                                                                    <option value="3">3 hour</option>
                                                                    <option value="4">4 hour</option>
                                                                    <option value="5">5 hour</option>
                                                                    <option value="12">12 hour</option>
                                                                    <option value="24">24 hour</option>
                                                                    <option value="48">2 Days</option>
                                                                    <option value="96">4 Days</option>
                                                                    <option value="168">1 Week</option>
                                                                </select>
                                                            </div>

                                                            <hr>
                                                            {{!-- <div class="button-group">
                                                                <a href="javascript:void(0)" class="btn btn-out-dotted btn-inverse btn-square"
                                                                    id="plus5">Add</a>
                                                                <a href="javascript:void(0)" class="btn btn-out-dotted btn-inverse btn-square"
                                                                    id="minus5">Remove</a>
                                                            </div> --}}
                                                            
                                                        </div>
                                                        <hr>
                                                        <button
                                                            class="btn btn-out-dotted btn-inverse btn-square ">Calculate</button>
                                                        <button style="float: left " type="submit"
                                                            class="btn btn-out-dotted btn-inverse btn-square m-l-20">Sent</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>






                                        <div class="col-sm-12">
                                            <div class="card">

                                                <div class="card-block">
                                                    <h4 class="sub-title">Details</h4>

                                                    <div class="form-group row">

                                                        <div class="col-sm-12 col-xl-2 m-b-30">
                                                            <h4 class="sub-title">Height x Width</h4>
                                                            <h6>type1</h6>
                                                        </div>
                                                        <div class="col-sm-12 col-xl-2 m-b-30">
                                                            <h4 class="sub-title">Total SQFT</h4>
                                                            <h6>124</h6>
                                                        </div>
                                                        <div class="col-sm-12 col-xl-2 m-b-30">
                                                            <h4 class="sub-title">Meterial</h4>
                                                            <h6>type1</h6>
                                                        </div>
                                                        <div class="col-sm-12 col-xl-2 m-b-30">
                                                            <h4 class="sub-title">Qty</h4>
                                                            <h6>type1</h6>
                                                        </div>
                                                        <div class="col-sm-12 col-xl-2 m-b-30">
                                                            <h4 class="sub-title">Total SQFT Cash</h4>
                                                            <h6>type1</h6>
                                                        </div>
                                                        <div class="col-sm-12 col-xl-2 m-b-30">
                                                            <h4 class="sub-title">Design Amount</h4>
                                                            <h6>type1<code>Rs</code></h6>
                                                        </div>
                                                        <div class="col-sm-12 col-xl-3 m-b-30">
                                                            <h4 class="sub-title">Grand Total Amount</h4>
                                                            <h6>type1<code>Rs</code></h6>
                                                        </div>





                                                    </div>
                                                </div>
                                            </div>
                                        </div>






                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="styleSelector">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>