<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        {{> header_designer}}
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                {{> sidebar_designer}}
            </div>
        </div>
    </div>
</div>